doctype
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>RetoL</title>
</head>
<body>
		<table border="0">
			<tr>
				<td whidth="250"height="40"bgcolor="DFEEFD">X</td>
			</tr>
			<tr>
				<td width="250"height="40"bgcolor="CCE2FA">X</td>
			</tr>	
			<tr>
				<td width="250"height="40"bgcolor="B6D4F5">X</td>
			</tr>	
			<tr>
				<td width="250"height="40"bgcolor="99BFE8">X</td>
			</tr>	
			<tr>
				<td width="250"height="40"bgcolor="5693D5">X</td>
			<tr>
				<td width="250"height="40"bgcolor="236DB9">X</td>
			</tr>
			<tr>
				<td width="250"height="40"bgcolor="1E63AB">X</td>
			</tr>
			<tr>
				<td width="250"height="40"bgcolor="0F57A1">X</td>
			</tr>
			<tr>
				<td width="250"height="40"bgcolor="003264">X</td>
			</tr>
		</table>	

</body>
</html>